

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	margin-bottom: 80px;
}

h3 {
	margin-top: 10px;
}

.no-padding {
	padding-top: 0;
	padding-bottom: 0;
}
.panel-body {
	padding-top: 0;
}

.featuredImg {
	margin-top: 15px;
	margin-bottom: 15px;
}

.panel {
	margin-top: 35px;
}

.list-group {
	margin-top: 35px;
}













